*.vs/
*[Ll]ibrary/
*[Oo]bj/
*[Tt]emp/
*keyStore/
*Recordings/
*.csproj
*.sln
*.tmp
*.unityproj
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta